.border-less {
    border-bottom: dotted 1px gray;
    border-top: none;
    border-right: none;
    border-left: none;
}

input:focus {
    outline: none;
}

input {
    font-size: 20px;
    width: 75%;
    color: gray;
    margin-bottom: 10px;
}

.pointerMouse {
    cursor: auto;
}