.border-less {
  border: none;
}

.round-button {
  border-radius: 50%;
  float: right;
}

input.navya-radio-text:focus {
  outline: none;
  border-width: 0 0 2px 0 !important;
  border-color: black !important;
  border-style: solid;
}

input.navya-radio-text:hover {
  border-width: 0 0 1px 0;
  border-color: gray;
  border-style: solid;
}

.navya-radio {
  margin-top: 5px;
}

.navya-radio-text {
  font-size: 16px;
  width: 75%;
}

.glyphicon {
  top: 2px;
}
