.border-less {
    border: none;
}

input:focus {
    outline: none;
    border-width: 0 0 2px 0 !important;
    border-color: black !important;
    border-style: solid;
}

input:hover {
    border-width: 0 0 1px 0;
    border-color: gray;
    border-style: solid;
}

.navya-radio {
    margin-top: 10px;
}